<br>
<br>
<form method="post" action="/administrador/logar" class="form-signin loginForm">
  <h1 class="h3 mb-3 font-weight-normal">Login da area administrativa</h1>
  <label for="email" class="sr-only">Login</label>
  <input type="email" id="login" name="login" class="form-control" placeholder="login" required="" autofocus="">
  <label for="senha" class="sr-only">Senha</label>
  <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" required="">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox"  value="1" name="lembrar"> Lembre de mim
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  <p class="mt-5 mb-3 text-muted">© 2020 </p>
</form>

<style>
.loginForm{
  max-width: 450px;
  margin: auto;
}
</style>